

html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}


* { 
    box-sizing: border-box; 
}

.header-line {
  background-color: #fff;
  padding: 29px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.language-kz {
  font-family: "Inter", sans-serif;
  color: #000;
  text-decoration: none;
  padding-right: 10px;
  font-weight: 600;
}

.language-ru {
  font-family: "Inter", sans-serif;
  color: #000;
  text-decoration: none;
  padding-left: 10px;
  background-color: #FF3C3C;
  font-weight: 600;
  padding: 13px 19px;
  border-radius: 50px;
}

.header-line-btn {
  background-color: #E7EAED;
  padding-left: 19px;
  display: flex;
  border-radius: 50px;
  align-items: center;
}


.header-left{
  padding-top: 110px;
  padding-bottom: 20px;
}

.header-title{
  margin-bottom: 20px;
}
.title-text {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 56px;
  font-weight: bold;
  
}
.down-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap ;
  gap: 0px;

}


.header-down{
  background-color: #EDF0F4;

}

.header-down-img{
  margin-top: 50px;
}
.btn-text {
  text-decoration: none;
  color: #ffff;
  font-size: 25px;
  background-color: #FF3C3C; 
  padding: 10px 35px;
  border-radius: 50px;
  margin-top: 20px;

  font-weight: bold;

}
.text {
  padding-right: 5px;
  font-family: "Inter", sans-serif;
}



.offer {
  background-color: #EDF0F4;
  padding-bottom: 60px;
}

.offer-title{
  font-family: "Inter", sans-serif;
  font-size: 56px;
  font-weight: bold;
  text-align: center;
  padding-top: 125px;

}

.offer-text {
  font-size: 30px;
  font-weight: bold;
  color: #000;
  font-family: "Inter", sans-serif;
}

.card {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  width: 450px;             /* фиксированная ширина */
  text-align: center;
  padding: 25px;
  display: flex;
  flex-direction: column;   /* элементы вертикально */
  align-items: center;
  gap: 15px;
}
.cards{
  display: flex;
  flex-wrap: wrap;         /* перенос строк */
  justify-content: center;   /* выравнивание по центру */
  gap: 120px;                 /* расстояние между карточками */
  padding: 55px 210px;
  background-color: #EDF0F4;
}  

.card img{
  flex-direction: column;
  
}

.btn-outline {
  margin-top: auto;
  display: inline-block;
  padding: 10px 25px;
  color: #E93939;               
  border: 2px solid #E93939;   
  border-radius: 30px;          
  text-decoration: none;        
  font-size: 20px;
  font-weight: 500;
  transition: all 0.3s ease;
  font-family: "Inter", sans-serif;

}


.btn-outline:hover {
  background-color: #E93939;    
  color: white;                 
}

.advantages-title {
  font-family: "Inter", sans-serif;
  font-size: 56px;
  font-weight: bold;
  padding-left: 70px;
  padding-top: 80px;
  padding-bottom: 50px;
}

.text-container {
  background-color: #F05454;
  border-radius: 25px;
  padding-top: 20px;
  padding-left: 35px;
  padding-right: 35px;
  max-width: 100%;
  width: 800px; 
  min-height: 150px;
}




.advantages-text {
  font-family: "Inter", sans-serif;
  font-size: 23px;
  font-weight: bold;
  color: #fff;
  padding-bottom: 10px;
  
}

.advantages-sabtext {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #F2EFEF;
  padding-bottom: 20px;
}

.advantages-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 70px;
  gap: 30px;
  
}
.advantages {
  margin-bottom: 80px;
}
.principle {
  background-color: #EDF0F4;
  padding-bottom:135px ;
} 


.principle-title {
  font-family: "Inter", sans-serif;
  color: #000;
  font-size: 56px;
  font-weight: bold;
  padding: 90px 70px;
}

.principle-text{
  background-color: #fff;
  width: 290px;
  height: 290px;
  border-radius: 20px;
  padding-top: 20px ;
  padding-left: 20px;
  padding-right: 30px;
  
}

.main-text {
  font-family: "Inter", sans-serif;
  color: #000;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 5px;
}

.minor-text{
  font-family: "Inter", sans-serif;
  color: #000;
  font-size: 20px;
  font-weight: 400;
}

.box{
  display: flex;
}


.main-container{
  justify-content: center;
  display: flex;
  gap: 0px;
  flex-wrap: wrap;
}

.cotact{
  background-color: #ffffff;
  display: flex;
  justify-content:center;
  
  
}

.contact-card{
  background-color: #EDF0F4;
  width: 390px;
  height: 50px;
  border-radius: 15px;
  margin-bottom: 35px;
  align-items: center;
}
.contact-cards{
  padding-top: 60px;
}

.contact-left{
  padding-left: 50px;
  padding-top: 90px;
}

.contact-img{
  width: 556px;
  height: auto;
}

@media (max-width: 520px){
  .contact-img{width: 400PX; height: 400px;}
}
@media (max-width: 1024px){
  .contact-img{width: 400PX; height: 400px;}
}
